<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PPE_MISSION_2_MAISON_DES_LIGUES.Properties.Settings.m2l_Marco_SalimConnectionString"
            connectionString="Data Source=TRAVAIL-PC\SQLEXPRESS;Initial Catalog=m2l_marco_salim_local;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>